<nav class="navbar navbar-light bg-light">
  <a routerLink="" class="navbar-brand">
    <img src="../assets/gift-box.png">
  </a>
  <!-- <div class="input-group col-sm-3 align-self-center mr-3">
    <input class="form-control mr-2 rounded-pill" type="search" placeholder="Search for colleague"
       #search aria-label="Search">
  </div>
  -->
  <app-search-bar *ngIf="isloggedIn" (setEmpNameEvent)="setEmpName($event)"></app-search-bar>
  

  


  <ul class="list-group list-group-flush">
    <!-- results of ngFor is passed to appFilter with argument searchText -->
    <li class="list-group-item">

    </li>
  </ul>

  <ul>

    <li><a *ngIf="!isloggedIn"  [routerLink]="['register']">Register</a></li>

    <li><a *ngIf="!isloggedIn" [routerLink]="['login']">Login</a></li>
    <div class="dropdown" *ngIf="isloggedIn">
     Hi, {{userLoggedIn}}!
      <button class="dropdown-toggle profile-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       <img class="profile-pic" src="../assets/woman.png" alt="profile">
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Contact Us</a>
          <a *ngIf="isAdmin" class="dropdown-item" [routerLink]="['allemployees']">All employees </a>
          
        <a class="dropdown-item" href="#">About Us</a>
         <a class="dropdown-item" (click)="logout()" href="#">Logout</a>
     
      </div>
    </div>

  </ul>
</nav>
<router-outlet></router-outlet>